<center>
<h1>Food Groups Index</h1>
<h2> These are all of your food cases: </h2>
<img  src="../images/full_fridge.png" height="250">
<% @food_groups.each do |food_group| %>
<h3>Food Group Name: <%= food_group.name %></h3>
<br />
<table>
  <a href="/food_groups/<%= food_group.id %>"> View Group Contents</a>
  <br>
  <a href="/food_groups/<%= food_group.id %>/edit"> Edit Group Name</a>
  <br>
  <a href="/food_groups/<%= food_group.id %>"> Delete Group</a>

  <form action="/food_groups/<%= food_group.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="DELETE">
</form>

  </table>
  <br />
  <br />
<% end %>
<p>
<a  href="/food_groups/new">New Food Group</a>
</p>