<h1>Food Groups show page</h1>
<br>


<h2><%= @food_group.name %> Food Group</h2>

<img  src="../images/food.png" height="185">
  <h3>
    
    Food in group
  </h3>
  <% @food_group.foods.each_with_index do |food, index| %>
<%= index + 1 %> <a href="/foods/<%= food.id%>"> <%= food.name %>
  
  <br />
  <br />
  <% end %>

  <p>
    <a href="/food_groups/<%=@food_group.id%>/edit">Edit This Food Group Name</a>
    <br />
   
    <a href="/food_groups/<%=@food_group.id%>/foods/new">Add A New food</a>
   
    <br />
    <a href="/food_groups"> Your Food Groups</a>
  </p>

  <br />
  <br />